# EXPLORATORY DATA ANALYSIS along with FEATURE ENGINEERING on the DATASETS

### 1. DATA COLLECTION :

##### 1.1 IMPORTING NECESSARY LIBRARIES

In [1]:
pip install pandas numpy matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\asus\appdata\roaming\python\python313\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\asus\appdata\roaming\python\python313\site-packages (2.2.6)
Requirement already satisfied: matplotlib in c:\users\asus\appdata\roaming\python\python313\site-packages (3.10.7)
Requirement already satisfied: seaborn in c:\users\asus\appdata\roaming\python\python313\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=3 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

##### 1.2 LOADING THE REQUIRED DATASETS :

In [4]:
df1=pd.read_csv("../data/raw/EV_cars.csv")

In [5]:
df2=pd.read_csv("../data/raw/EV_Population_2.csv")

In [6]:
df3=pd.read_csv("../data/raw/ev_charging_patterns.csv")

In [7]:
df1

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4
...,...,...,...,...,...,...,...,...,...
355,46.3,Citroen e-Jumpy Combi XL 50 kWh,https://ev-database.org/car/1596/Citroen-e-Jum...,257,290.0,52730.0,180,130,12.1
356,46.3,Fiat E-Ulysse L2 50 kWh,https://ev-database.org/car/1721/Fiat-E-Ulysse...,250,290.0,55990.0,185,130,12.1
357,46.3,Opel Vivaro-e Combi L 50 kWh,https://ev-database.org/car/1601/Opel-Vivaro-e...,257,290.0,51825.0,180,130,12.1
358,68.0,Opel Zafira-e Life M 75 kWh,https://ev-database.org/car/1348/Opel-Zafira-e...,257,290.0,69250.0,265,130,13.3
359,46.3,Fiat E-Ulysse L3 50 kWh,https://ev-database.org/car/1723/Fiat-E-Ulysse...,257,290.0,56990.0,180,130,12.1

In [8]:
df2

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE1L,King,Seattle,WA,98122.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,0,37.0,125701579,POINT (-122.30839 47.610365),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,7SAYGDEE9P,Snohomish,Bothell,WA,98021.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,1.0,244285107,POINT (-122.179458 47.802589),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJSA1E4XK,King,Seattle,WA,98109.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,36.0,156773144,POINT (-122.34848 47.632405),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,5YJSA1E27G,King,Issaquah,WA,98027.0,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,5.0,165103011,POINT (-122.03646 47.534065),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,5YJYGDEE5M,Kitsap,Suquamish,WA,98392.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,23.0,205138552,POINT (-122.55717 47.733415),PUGET SOUND ENERGY INC,5.303594e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177861,7SAYGDEE3N,Pierce,Bonney Lake,WA,98391.0,2022,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,31.0,195224452,POINT (-122.183805 47.18062),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
177862,KM8K23AG1P,Mason,Shelton,WA,98584.0,2023,HYUNDAI,KONA ELECTRIC,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,35.0,228454180,POINT (-123.105305 47.211085),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.304596e+10
177863,5YJYGDEE6M,Grant,Quincy,WA,98848.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,13.0,168797219,POINT (-119.8493873 47.2339933),PUD NO 2 OF GRANT COUNTY,5.302501e+10
177864,WVGKMPE27M,King,Black Diamond,WA,98010.0,2021,VOLKSWAGEN,ID.4,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,5.0,182448801,POINT (-122.00451 47.312185),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
177865,5YJ3E1EA8M,Pierce,Tacoma,WA,98422.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,27.0,211464683,POINT (-122.38578 47.28971),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305394e+10

In [9]:
df3

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,User_1316,Nissan Leaf,100.000000,Station_57,New York,2024-02-24 19:00:00,2024-02-24 20:30:00,42.011654,1.426444,5.895475,22.081164,Evening,Sunday,39.204102,83.915952,239.601075,1.919655,7.0,DC Fast Charger,Commuter
1316,User_1317,BMW i3,100.000000,Station_40,New York,2024-02-24 20:00:00,2024-02-24 20:44:00,68.185853,3.238212,18.388012,5.067806,Evening,Tuesday,31.456375,93.096461,164.376022,34.029775,4.0,Level 2,Casual Driver
1317,User_1318,Nissan Leaf,100.000000,Station_374,New York,2024-02-24 21:00:00,2024-02-24 23:03:00,18.895102,3.267122,45.482066,37.255002,Evening,Tuesday,71.903081,78.678879,226.519258,20.358761,5.0,DC Fast Charger,Commuter
1318,User_1319,Chevy Bolt,85.000000,Station_336,San Francisco,2024-02-24 22:00:00,2024-02-24 23:20:00,13.756252,2.754527,38.148183,39.046146,Afternoon,Sunday,76.187997,65.926573,291.494076,24.134598,5.0,Level 2,Commuter
1319,User_1320,Nissan Leaf,120.447195,Station_128,Los Angeles,2024-02-24 23:00:00,2024-02-24 23:56:00,63.652570,3.740970,33.704226,10.863674,Evening,Monday,59.338076,56.692439,14.449236,-6.966593,5.0,DC Fast Charger,Commuter

Let's perform EDA on datasets one by one

### 2.1 EXPLORATORY DATA ANALYSIS ON DATASET 1ST

In [10]:
df1.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [11]:
df1.columns

Index(['Battery', 'Car_name', 'Car_name_link', 'Efficiency', 'Fast_charge',
       'Price.DE.', 'Range', 'Top_speed', 'acceleration..0.100.'],
      dtype='object')

In [12]:
df1.dtypes

Battery                 float64
Car_name                 object
Car_name_link            object
Efficiency                int64
Fast_charge             float64
Price.DE.               float64
Range                     int64
Top_speed                 int64
acceleration..0.100.    float64
dtype: object

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Battery               360 non-null    float64
 1   Car_name              360 non-null    object
 2   Car_name_link         360 non-null    object
 3   Efficiency            360 non-null    int64
 4   Fast_charge           358 non-null    float64
 5   Price.DE.             309 non-null    float64
 6   Range                 360 non-null    int64
 7   Top_speed             360 non-null    int64
 8   acceleration..0.100.  360 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 25.4+ KB

### 2.1.1 Converting the column names into lowercase

In [14]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
df1.columns

Index(['battery', 'car_name', 'car_name_link', 'efficiency', 'fast_charge',
       'price.de.', 'range', 'top_speed', 'acceleration..0.100.'],
      dtype='object')

### 2.1.2 Checking NaN values

In [15]:
df1.isnull().sum()

battery                  0
car_name                 0
car_name_link            0
efficiency               0
fast_charge              2
price.de.               51
range                    0
top_speed                0
acceleration..0.100.     0
dtype: int64

Price.DE. : The price of the electric vehicle in Germany.

As we can see the Price.DE. is the price of EVs in Germany , So we need to convert it into USD because our project is based on US datasets

### 2.1.3 Converting the German Price into USD

In [16]:
exchange_rate = 1.08 
df1['price_usd_estimated'] = df1['price.de.'] * exchange_rate
df1['price_usd_estimated'] = df1['price_usd_estimated'].round(0).astype('Int64')

In [17]:
df1.head(3)

,battery,car_name,car_name_link,efficiency,fast_charge,price.de.,range,top_speed,acceleration..0.100.,price_usd_estimated
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0,63738
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1,49918
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3,48195

Now , the new column is added which is the EVs price in USD after conversion

In [18]:
df1.isnull().sum()

battery                  0
car_name                 0
car_name_link            0
efficiency               0
fast_charge              2
price.de.               51
range                    0
top_speed                0
acceleration..0.100.     0
price_usd_estimated     51
dtype: int64

In [19]:
df1['fast_charge']=df1['fast_charge'].fillna(df1['fast_charge'].median())
df1['price.de.']=df1['price.de.'].fillna(df1['price.de.'].median())
df1['price_usd_estimated']=df1['price_usd_estimated'].fillna(df1['price_usd_estimated'].median())

### 2.1.4 Dropping the unnecessary columns

In [20]:
df1.drop('car_name', axis=1, inplace=True)
df1.drop('car_name_link', axis=1, inplace=True)

In [21]:
df1.isnull().sum()

battery                 0
efficiency              0
fast_charge             0
price.de.               0
range                   0
top_speed               0
acceleration..0.100.    0
price_usd_estimated     0
dtype: int64

### 2.2 EXPLORATORY DATA ANALYSIS ON DATASET 2ND

In [22]:
df2.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE1L,King,Seattle,WA,98122.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,0,37.0,125701579,POINT (-122.30839 47.610365),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,7SAYGDEE9P,Snohomish,Bothell,WA,98021.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,1.0,244285107,POINT (-122.179458 47.802589),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJSA1E4XK,King,Seattle,WA,98109.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,36.0,156773144,POINT (-122.34848 47.632405),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,5YJSA1E27G,King,Issaquah,WA,98027.0,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,5.0,165103011,POINT (-122.03646 47.534065),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,5YJYGDEE5M,Kitsap,Suquamish,WA,98392.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,23.0,205138552,POINT (-122.55717 47.733415),PUGET SOUND ENERGY INC,5.303594e+10

In [23]:
df2.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

### 2.2.1 Converting the column names into lowercase

In [24]:
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
df2.columns

Index(['vin_(1-10)', 'county', 'city', 'state', 'postal_code', 'model_year',
       'make', 'model', 'electric_vehicle_type',
       'clean_alternative_fuel_vehicle_(cafv)_eligibility', 'electric_range',
       'base_msrp', 'legislative_district', 'dol_vehicle_id',
       'vehicle_location', 'electric_utility', '2020_census_tract'],
      dtype='object')

### 2.2.2 Dropping the unnecessary column

In [25]:
df2.drop('vin_(1-10)', axis =1 ,inplace=True)
df2.drop('base_msrp', axis =1 ,inplace=True)
df2.drop('dol_vehicle_id', axis =1 ,inplace=True)

In [26]:
df2.dtypes

county                                                object
city                                                  object
state                                                 object
postal_code                                          float64
model_year                                             int64
make                                                  object
model                                                 object
electric_vehicle_type                                 object
clean_alternative_fuel_vehicle_(cafv)_eligibility     object
electric_range                                         int64
legislative_district                                 float64
vehicle_location                                      object
electric_utility                                      object
2020_census_tract                                    float64
dtype: object

### 2.2.3 Changing few name of the columns for ease

In [27]:
df2.columns=df2.columns.str.replace('county','country')
df2.columns=df2.columns.str.replace('clean_alternative_fuel_vehicle_(cafv)_eligibility','cafv_eligibility')

### 2.2.4 Checking NaN values

In [28]:
df2.isnull().sum()

country                    5
city                       5
state                      0
postal_code                5
model_year                 0
make                       0
model                      0
electric_vehicle_type      0
cafv_eligibility           0
electric_range             0
legislative_district     389
vehicle_location           9
electric_utility           5
2020_census_tract          5
dtype: int64

### 2.2.5 Filling the null values with their respective medians in numeic columns

In [29]:
df2['postal_code']= df2['postal_code'].fillna(df2['postal_code'].median())
df2['legislative_district']= df2['legislative_district'].fillna(df2['legislative_district'].median())
df2['2020_census_tract']= df2['2020_census_tract'].fillna(df2['2020_census_tract'].median())

### 2.2.6 Filling the null values with "Unknown" in categorical columns

In [30]:
df2.fillna('Unknown', inplace=True)

In [31]:
df2.isnull().sum()

country                  0
city                     0
state                    0
postal_code              0
model_year               0
make                     0
model                    0
electric_vehicle_type    0
cafv_eligibility         0
electric_range           0
legislative_district     0
vehicle_location         0
electric_utility         0
2020_census_tract        0
dtype: int64

### 2.3 EXPLORATORY DATA ANALYSIS ON DATASET 3rd

In [32]:
df3.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler

In [33]:
df3.columns = df3.columns.str.lower().str.replace(' ', '_')
df3.columns

Index(['user_id', 'vehicle_model', 'battery_capacity_(kwh)',
       'charging_station_id', 'charging_station_location',
       'charging_start_time', 'charging_end_time', 'energy_consumed_(kwh)',
       'charging_duration_(hours)', 'charging_rate_(kw)',
       'charging_cost_(usd)', 'time_of_day', 'day_of_week',
       'state_of_charge_(start_%)', 'state_of_charge_(end_%)',
       'distance_driven_(since_last_charge)_(km)', 'temperature_(°c)',
       'vehicle_age_(years)', 'charger_type', 'user_type'],
      dtype='object')

In [34]:
df3.dtypes

user_id                                      object
vehicle_model                                object
battery_capacity_(kwh)                      float64
charging_station_id                          object
charging_station_location                    object
charging_start_time                          object
charging_end_time                            object
energy_consumed_(kwh)                       float64
charging_duration_(hours)                   float64
charging_rate_(kw)                          float64
charging_cost_(usd)                         float64
time_of_day                                  object
day_of_week                                  object
state_of_charge_(start_%)                   float64
state_of_charge_(end_%)                     float64
distance_driven_(since_last_charge)_(km)    float64
temperature_(°c)                            float64
vehicle_age_(years)                         float64
charger_type                                 object
user_type                                    object
dtype: object

### 2.3.1 Checking NaN values

In [35]:
df3.isnull().sum()

user_id                                      0
vehicle_model                                0
battery_capacity_(kwh)                       0
charging_station_id                          0
charging_station_location                    0
charging_start_time                          0
charging_end_time                            0
energy_consumed_(kwh)                       66
charging_duration_(hours)                    0
charging_rate_(kw)                          66
charging_cost_(usd)                          0
time_of_day                                  0
day_of_week                                  0
state_of_charge_(start_%)                    0
state_of_charge_(end_%)                      0
distance_driven_(since_last_charge)_(km)    66
temperature_(°c)                             0
vehicle_age_(years)                          0
charger_type                                 0
user_type                                    0
dtype: int64

### 2.3.2 Removing extra letters from the rows' data which can easily counted as an integer

In [36]:
df3['user_id'] = df3['user_id'].str.replace(r'[^\d]', '', regex=True)
df3['charging_station_id'] = df3['charging_station_id'].str.replace(r'[^\d]', '', regex=True)
df3['charging_start_time'] = df3['charging_start_time'].str.replace(r'[^\d]', '', regex=True)
df3['charging_end_time'] = df3['charging_end_time'].str.replace(r'[^\d]', '', regex=True)

### 2.3.3 Converting the datatype into Int64

In [37]:
df3['user_id'] = pd.to_numeric(df3['user_id'], errors='coerce').astype('Int64')
df3['charging_station_id'] = pd.to_numeric(df3['charging_station_id'], errors='coerce').astype('Int64')
df3['charging_start_time'] = pd.to_numeric(df3['charging_start_time'], errors='coerce').astype('Int64')
df3['charging_end_time'] = pd.to_numeric(df3['charging_end_time'], errors='coerce').astype('Int64')

In [38]:
df3.dtypes

user_id                                       Int64
vehicle_model                                object
battery_capacity_(kwh)                      float64
charging_station_id                           Int64
charging_station_location                    object
charging_start_time                           Int64
charging_end_time                             Int64
energy_consumed_(kwh)                       float64
charging_duration_(hours)                   float64
charging_rate_(kw)                          float64
charging_cost_(usd)                         float64
time_of_day                                  object
day_of_week                                  object
state_of_charge_(start_%)                   float64
state_of_charge_(end_%)                     float64
distance_driven_(since_last_charge)_(km)    float64
temperature_(°c)                            float64
vehicle_age_(years)                         float64
charger_type                                 object
user_type                                    object
dtype: object

### 2.3.4 Filling NaN values whose dtype is integer with their respective median

In [39]:
df3['energy_consumed_(kwh)']= df3['energy_consumed_(kwh)'].fillna(df3['energy_consumed_(kwh)'].median())
df3['charging_rate_(kw)']= df3['charging_rate_(kw)'].fillna(df3['charging_rate_(kw)'].median())
df3['distance_driven_(since_last_charge)_(km)']= df3['distance_driven_(since_last_charge)_(km)'].fillna(df3['distance_driven_(since_last_charge)_(km)'].median())

In [40]:
df3.isnull().sum()

user_id                                     0
vehicle_model                               0
battery_capacity_(kwh)                      0
charging_station_id                         0
charging_station_location                   0
charging_start_time                         0
charging_end_time                           0
energy_consumed_(kwh)                       0
charging_duration_(hours)                   0
charging_rate_(kw)                          0
charging_cost_(usd)                         0
time_of_day                                 0
day_of_week                                 0
state_of_charge_(start_%)                   0
state_of_charge_(end_%)                     0
distance_driven_(since_last_charge)_(km)    0
temperature_(°c)                            0
vehicle_age_(years)                         0
charger_type                                0
user_type                                   0
dtype: int64

## 3. APPLYING ENCODING ON THE DATASETS

### 3.1 DATASET 1

### 3.1.1 SCALING OF THE NUMERIC COLUMNS

In [41]:
scaler = StandardScaler()
numerical_features = ['battery','efficiency','fast_charge','price.de.','range','top_speed','acceleration..0.100.','price_usd_estimated']

df1[numerical_features] = scaler.fit_transform(df1[numerical_features])

In [42]:
df1.head()

,battery,efficiency,fast_charge,price.de.,range,top_speed,acceleration..0.100.,price_usd_estimated
0,0.187241,-0.727285,0.496939,-0.211230,0.609385,0.997205,-0.762526,-0.211238
1,-0.672224,-1.825666,0.624118,-0.609628,0.469416,0.554993,-0.396069,-0.609613
2,-0.524887,-0.382080,-0.774848,-0.659284,-0.370400,-0.578178,0.003702,-0.659280
3,-0.465953,-0.758668,0.327367,-0.803582,-0.090462,-0.578178,0.203587,-0.803584
4,0.187241,-1.449078,0.963261,-0.329439,1.262575,0.554993,-0.962411,-0.329424

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   battery               360 non-null    float64
 1   efficiency            360 non-null    float64
 2   fast_charge           360 non-null    float64
 3   price.de.             360 non-null    float64
 4   range                 360 non-null    float64
 5   top_speed             360 non-null    float64
 6   acceleration..0.100.  360 non-null    float64
 7   price_usd_estimated   360 non-null    float64
dtypes: float64(8)
memory usage: 22.6 KB

In [44]:
df1.describe()

,battery,efficiency,fast_charge,price.de.,range,top_speed,acceleration..0.100.,price_usd_estimated
count,360.000000,3.600000e+02,3.600000e+02,3.600000e+02,3.600000e+02,3.600000e+02,3.600000e+02,3.600000e+02
mean,0.000000,-2.960595e-16,-1.973730e-16,-1.381611e-16,-9.868649e-17,-1.973730e-16,3.947460e-17,-2.960595e-17
std,1.001392,1.001392e+00,1.001392e+00,1.001392e+00,1.001392e+00,1.001392e+00,1.001392e+00,1.001392e+00
min,-2.450088,-1.825666e+00,-1.622706e+00,-1.346526e+00,-2.190001e+00,-1.545519e+00,-1.728639e+00,-1.346522e+00
25%,-0.672224,-7.586675e-01,-8.172410e-01,-5.854231e-01,-6.969953e-01,-6.956408e-01,-7.958401e-01,-5.854210e-01
50%,-0.009209,-2.251681e-01,-1.389545e-01,-2.758295e-01,9.616409e-02,-2.541189e-02,-1.795267e-01,-2.758366e-01
75%,0.678363,4.103238e-01,5.393320e-01,1.291373e-01,7.143618e-01,5.273543e-01,5.700436e-01,1.291402e-01
max,2.544630,3.132740e+00,3.125299e+00,4.738250e+00,2.942206e+00,3.843951e+00,3.934782e+00,4.738249e+00

In [45]:
df1.isnull().sum().sum()

np.int64(0)

### 3.2 DATASET 2

In [46]:
df2.dtypes

country                   object
city                      object
state                     object
postal_code              float64
model_year                 int64
make                      object
model                     object
electric_vehicle_type     object
cafv_eligibility          object
electric_range             int64
legislative_district     float64
vehicle_location          object
electric_utility          object
2020_census_tract        float64
dtype: object

### 3.2.1 Frequency Encoding

In [47]:
freq_map = df2['country'].value_counts() 
df2['country'] = df2['country'].map(freq_map)

In [48]:
freq_map = df2['city'].value_counts() 
df2['city'] = df2['city'].map(freq_map)

In [49]:
freq_map = df2['model'].value_counts() 
df2['model'] = df2['model'].map(freq_map)

In [50]:
freq_map = df2['electric_utility'].value_counts() 
df2['electric_utility'] = df2['electric_utility'].map(freq_map)

In [51]:
df2.head()

,country,city,state,postal_code,model_year,make,model,electric_vehicle_type,cafv_eligibility,electric_range,legislative_district,vehicle_location,electric_utility,2020_census_tract
0,92740,29447,WA,98122.0,2020,TESLA,35989,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,37.0,POINT (-122.30839 47.610365),31381,5.303301e+10
1,21001,5863,WA,98021.0,2023,TESLA,35989,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,1.0,POINT (-122.179458 47.802589),35882,5.306105e+10
2,92740,29447,WA,98109.0,2019,TESLA,7735,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,36.0,POINT (-122.34848 47.632405),31381,5.303301e+10
3,92740,2764,WA,98027.0,2016,TESLA,7735,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,5.0,POINT (-122.03646 47.534065),65990,5.303303e+10
4,5840,69,WA,98392.0,2021,TESLA,35989,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,23.0,POINT (-122.55717 47.733415),35882,5.303594e+10

### 3.2.2 Applying One-hot Encoding

In [52]:
df2['state'].unique()

array(['WA', 'NV', 'DC', 'CA', 'NC', 'KY', 'PA', 'VA', 'MD', 'IL', 'TX',
       'MO', 'GA', 'NE', 'AL', 'NY', 'AZ', 'NJ', 'MA', 'IN', 'HI', 'UT',
       'DE', 'CT', 'LA', 'NH', 'OH', 'FL', 'MI', 'WY', 'SC', 'CO', 'MN',
       'ID', 'RI', 'OR', 'OK', 'KS', 'AK', 'AE', 'IA', 'BC', 'AR', 'TN',
       'NM', 'AP'], dtype=object)

In [53]:
df2=pd.get_dummies(df2,columns=['state'] , drop_first=False, dtype='int')

In [54]:
df2=pd.get_dummies(df2,columns=['make'] , drop_first=False, dtype='int')

### 3.2.3 Applying Label Encoder on Columns where data is ordinal

In [55]:
label_encoder = LabelEncoder()
df2['cafv_eligibility'] = label_encoder.fit_transform(df2['cafv_eligibility'])
df2['electric_vehicle_type'] = label_encoder.fit_transform(df2['electric_vehicle_type'])

In [56]:
LabelEncoder ()

LabelEncoder()

In [57]:
df2.head()

,country,city,postal_code,model_year,model,electric_vehicle_type,cafv_eligibility,electric_range,legislative_district,vehicle_location,...,make_RIVIAN,make_ROLLS ROYCE,make_SMART,make_SUBARU,make_TESLA,make_TH!NK,make_TOYOTA,make_VOLKSWAGEN,make_VOLVO,make_WHEEGO ELECTRIC CARS
0,92740,29447,98122.0,2020,35989,0,0,291,37.0,POINT (-122.30839 47.610365),...,0,0,0,0,1,0,0,0,0,0
1,21001,5863,98021.0,2023,35989,0,1,0,1.0,POINT (-122.179458 47.802589),...,0,0,0,0,1,0,0,0,0,0
2,92740,29447,98109.0,2019,7735,0,0,270,36.0,POINT (-122.34848 47.632405),...,0,0,0,0,1,0,0,0,0,0
3,92740,2764,98027.0,2016,7735,0,0,210,5.0,POINT (-122.03646 47.534065),...,0,0,0,0,1,0,0,0,0,0
4,5840,69,98392.0,2021,35989,0,1,0,23.0,POINT (-122.55717 47.733415),...,0,0,0,0,1,0,0,0,0,0

In [58]:
df2.columns

Index(['country', 'city', 'postal_code', 'model_year', 'model',
       'electric_vehicle_type', 'cafv_eligibility', 'electric_range',
       'legislative_district', 'vehicle_location', 'electric_utility',
       '2020_census_tract', 'state_AE', 'state_AK', 'state_AL', 'state_AP',
       'state_AR', 'state_AZ', 'state_BC', 'state_CA', 'state_CO', 'state_CT',
       'state_DC', 'state_DE', 'state_FL', 'state_GA', 'state_HI', 'state_IA',
       'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY', 'state_LA',
       'state_MA', 'state_MD', 'state_MI', 'state_MN', 'state_MO', 'state_NC',
       'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY',
       'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC',
       'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_WA', 'state_WY',
       'make_ALFA ROMEO', 'make_AUDI', 'make_AZURE DYNAMICS', 'make_BENTLEY',
       'make_BMW', 'make_CADILLAC', 'make_CHEVROLET', 'make_CHRYSLER',
       'make_DODGE', 'make_FIAT', 'make_FISKER', 'make_FORD', 'make_GENESIS',
       'make_GMC', 'make_HONDA', 'make_HYUNDAI', 'make_JAGUAR', 'make_JEEP',
       'make_KIA', 'make_LAND ROVER', 'make_LEXUS', 'make_LINCOLN',
       'make_LUCID', 'make_MAZDA', 'make_MERCEDES-BENZ', 'make_MINI',
       'make_MITSUBISHI', 'make_NISSAN', 'make_POLESTAR', 'make_PORSCHE',
       'make_RIVIAN', 'make_ROLLS ROYCE', 'make_SMART', 'make_SUBARU',
       'make_TESLA', 'make_TH!NK', 'make_TOYOTA', 'make_VOLKSWAGEN',
       'make_VOLVO', 'make_WHEEGO ELECTRIC CARS'],
      dtype='object')

In [59]:
df2.select_dtypes('float')

        postal_code  legislative_district  2020_census_tract
0           98122.0                  37.0       5.303301e+10
1           98021.0                   1.0       5.306105e+10
2           98109.0                  36.0       5.303301e+10
3           98027.0                   5.0       5.303303e+10
4           98392.0                  23.0       5.303594e+10
...             ...                   ...                ...
177861      98391.0                  31.0       5.305307e+10
177862      98584.0                  35.0       5.304596e+10
177863      98848.0                  13.0       5.302501e+10
177864      98010.0                   5.0       5.303303e+10
177865      98422.0                  27.0       5.305394e+10

[177866 rows x 3 columns]

### 3.2.4 Scaling the Numeric columns

In [60]:
scaler = StandardScaler()
numerical_features = ['country','city','postal_code','model_year','model','electric_range','legislative_district','electric_utility','2020_census_tract']

df2[numerical_features] = scaler.fit_transform(df2[numerical_features])

In [61]:
df2.columns

Index(['country', 'city', 'postal_code', 'model_year', 'model',
       'electric_vehicle_type', 'cafv_eligibility', 'electric_range',
       'legislative_district', 'vehicle_location', 'electric_utility',
       '2020_census_tract', 'state_AE', 'state_AK', 'state_AL', 'state_AP',
       'state_AR', 'state_AZ', 'state_BC', 'state_CA', 'state_CO', 'state_CT',
       'state_DC', 'state_DE', 'state_FL', 'state_GA', 'state_HI', 'state_IA',
       'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY', 'state_LA',
       'state_MA', 'state_MD', 'state_MI', 'state_MN', 'state_MO', 'state_NC',
       'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY',
       'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC',
       'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_WA', 'state_WY',
       'make_ALFA ROMEO', 'make_AUDI', 'make_AZURE DYNAMICS', 'make_BENTLEY',
       'make_BMW', 'make_CADILLAC', 'make_CHEVROLET', 'make_CHRYSLER',
       'make_DODGE', 'make_FIAT', 'make_FISKER', 'make_FORD', 'make_GENESIS',
       'make_GMC', 'make_HONDA', 'make_HYUNDAI', 'make_JAGUAR', 'make_JEEP',
       'make_KIA', 'make_LAND ROVER', 'make_LEXUS', 'make_LINCOLN',
       'make_LUCID', 'make_MAZDA', 'make_MERCEDES-BENZ', 'make_MINI',
       'make_MITSUBISHI', 'make_NISSAN', 'make_POLESTAR', 'make_PORSCHE',
       'make_RIVIAN', 'make_ROLLS ROYCE', 'make_SMART', 'make_SUBARU',
       'make_TESLA', 'make_TH!NK', 'make_TOYOTA', 'make_VOLKSWAGEN',
       'make_VOLVO', 'make_WHEEGO ELECTRIC CARS'],
      dtype='object')

In [62]:
df2.head()

,country,city,postal_code,model_year,model,electric_vehicle_type,cafv_eligibility,electric_range,legislative_district,vehicle_location,...,make_RIVIAN,make_ROLLS ROYCE,make_SMART,make_SUBARU,make_TESLA,make_TH!NK,make_TOYOTA,make_VOLKSWAGEN,make_VOLVO,make_WHEEGO ELECTRIC CARS
0,0.950721,2.185227,-0.020657,-0.172448,1.443448,0,0,2.523975,0.528607,POINT (-122.30839 47.610365),...,0,0,0,0,1,0,0,0,0,0
1,-0.777479,-0.144236,-0.062009,0.831106,1.443448,0,1,-0.639721,-1.891247,POINT (-122.179458 47.802589),...,0,0,0,0,1,0,0,0,0,0
2,0.950721,2.185227,-0.025979,-0.506966,-0.501228,0,0,2.295667,0.461389,POINT (-122.34848 47.632405),...,0,0,0,0,1,0,0,0,0,0
3,0.950721,-0.450334,-0.059553,-1.510520,-0.501228,0,0,1.643359,-1.622374,POINT (-122.03646 47.534065),...,0,0,0,0,1,0,0,0,0,0
4,-1.142709,-0.716527,0.089890,0.162070,1.443448,0,1,-0.639721,-0.412447,POINT (-122.55717 47.733415),...,0,0,0,0,1,0,0,0,0,0

In [63]:
df2.isnull().sum().sum()

np.int64(0)

### 3.3 DATASET 3

### 3.3.1 Counting the unique values

In [64]:
df3.columns

Index(['user_id', 'vehicle_model', 'battery_capacity_(kwh)',
       'charging_station_id', 'charging_station_location',
       'charging_start_time', 'charging_end_time', 'energy_consumed_(kwh)',
       'charging_duration_(hours)', 'charging_rate_(kw)',
       'charging_cost_(usd)', 'time_of_day', 'day_of_week',
       'state_of_charge_(start_%)', 'state_of_charge_(end_%)',
       'distance_driven_(since_last_charge)_(km)', 'temperature_(°c)',
       'vehicle_age_(years)', 'charger_type', 'user_type'],
      dtype='object')

In [65]:
df3.dtypes

user_id                                       Int64
vehicle_model                                object
battery_capacity_(kwh)                      float64
charging_station_id                           Int64
charging_station_location                    object
charging_start_time                           Int64
charging_end_time                             Int64
energy_consumed_(kwh)                       float64
charging_duration_(hours)                   float64
charging_rate_(kw)                          float64
charging_cost_(usd)                         float64
time_of_day                                  object
day_of_week                                  object
state_of_charge_(start_%)                   float64
state_of_charge_(end_%)                     float64
distance_driven_(since_last_charge)_(km)    float64
temperature_(°c)                            float64
vehicle_age_(years)                         float64
charger_type                                 object
user_type                                    object
dtype: object

In [66]:
df3['vehicle_model'].unique()

array(['BMW i3', 'Hyundai Kona', 'Chevy Bolt', 'Nissan Leaf',
       'Tesla Model 3'], dtype=object)

In [67]:
df3['charging_station_location'].unique()

array(['Houston', 'San Francisco', 'Los Angeles', 'Chicago', 'New York'],
      dtype=object)

In [68]:
df3['time_of_day'].unique()

array(['Evening', 'Morning', 'Afternoon', 'Night'], dtype=object)

In [69]:
df3['day_of_week'].unique()

array(['Tuesday', 'Monday', 'Thursday', 'Saturday', 'Friday', 'Wednesday',
       'Sunday'], dtype=object)

In [70]:
df3['charger_type'].unique()

array(['DC Fast Charger', 'Level 1', 'Level 2'], dtype=object)

In [71]:
df3['user_type'].unique()

array(['Commuter', 'Casual Driver', 'Long-Distance Traveler'],
      dtype=object)

In [72]:
df3.select_dtypes('object')

,vehicle_model,charging_station_location,time_of_day,day_of_week,charger_type,user_type
0,BMW i3,Houston,Evening,Tuesday,DC Fast Charger,Commuter
1,Hyundai Kona,San Francisco,Morning,Monday,Level 1,Casual Driver
2,Chevy Bolt,San Francisco,Morning,Thursday,Level 2,Commuter
3,Hyundai Kona,Houston,Evening,Saturday,Level 1,Long-Distance Traveler
4,Hyundai Kona,Los Angeles,Morning,Saturday,Level 1,Long-Distance Traveler
...,...,...,...,...,...,...
1315,Nissan Leaf,New York,Evening,Sunday,DC Fast Charger,Commuter
1316,BMW i3,New York,Evening,Tuesday,Level 2,Casual Driver
1317,Nissan Leaf,New York,Evening,Tuesday,DC Fast Charger,Commuter
1318,Chevy Bolt,San Francisco,Afternoon,Sunday,Level 2,Commuter
1319,Nissan Leaf,Los Angeles,Evening,Monday,DC Fast Charger,Commuter

### 3.3.2 One Hot Encoding

In [73]:
df3=pd.get_dummies(df3,columns=['vehicle_model'] , drop_first=False, dtype='int')

In [74]:
df3=pd.get_dummies(df3,columns=['charging_station_location'] , drop_first=False, dtype='int')

In [75]:
df3 = pd.get_dummies(df3, columns=['user_type'],drop_first=False, dtype='int')

### 3.3.3 Applying Ordinal Encoding on object type columns
 (bcoz they r having ordinal categorical data values)

In [76]:
order =['Morning', 'Afternoon', 'Evening','Night']
df3['time_of_day'] = pd.Categorical(df3['time_of_day'], categories=order, ordered=True)
df3['time_of_day'] = df3['time_of_day'].cat.codes

In [77]:
order =['Sunday','Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday', 'Saturday']
df3['day_of_week'] = pd.Categorical(df3['day_of_week'], categories=order, ordered=True)
df3['day_of_week'] = df3['day_of_week'].cat.codes

In [78]:
order =['Level 1', 'Level 2', 'DC Fast Charger']
df3['charger_type'] = pd.Categorical(df3['charger_type'], categories=order, ordered=True)
df3['charger_type'] = df3['charger_type'].cat.codes

### 3.3.4 Converting required columns into datetime format

In [79]:
df3['charging_start_time'] = pd.to_datetime(df3['charging_start_time'], unit='s')
df3['charging_end_time'] = pd.to_datetime(df3['charging_end_time'], unit='s')

### 3.3.5 Taking out the specific details and creating separate columns

In [80]:
df3['start_hour'] = df3['charging_start_time'].dt.hour
df3['start_day'] = df3['charging_start_time'].dt.day
df3['start_month'] = df3['charging_start_time'].dt.month

df3['end_hour'] = df3['charging_end_time'].dt.hour
df3['end_day'] = df3['charging_end_time'].dt.day
df3['end_month'] = df3['charging_end_time'].dt.month

In [81]:
df3.drop(['charging_start_time','charging_end_time'], axis=1, inplace=True)

In [82]:
df3.columns

Index(['user_id', 'battery_capacity_(kwh)', 'charging_station_id',
       'energy_consumed_(kwh)', 'charging_duration_(hours)',
       'charging_rate_(kw)', 'charging_cost_(usd)', 'time_of_day',
       'day_of_week', 'state_of_charge_(start_%)', 'state_of_charge_(end_%)',
       'distance_driven_(since_last_charge)_(km)', 'temperature_(°c)',
       'vehicle_age_(years)', 'charger_type', 'vehicle_model_BMW i3',
       'vehicle_model_Chevy Bolt', 'vehicle_model_Hyundai Kona',
       'vehicle_model_Nissan Leaf', 'vehicle_model_Tesla Model 3',
       'charging_station_location_Chicago',
       'charging_station_location_Houston',
       'charging_station_location_Los Angeles',
       'charging_station_location_New York',
       'charging_station_location_San Francisco', 'user_type_Casual Driver',
       'user_type_Commuter', 'user_type_Long-Distance Traveler', 'start_hour',
       'start_day', 'start_month', 'end_hour', 'end_day', 'end_month'],
      dtype='object')

In [83]:
df3.head()

,user_id,battery_capacity_(kwh),charging_station_id,energy_consumed_(kwh),charging_duration_(hours),charging_rate_(kw),charging_cost_(usd),time_of_day,day_of_week,state_of_charge_(start_%),...,charging_station_location_San Francisco,user_type_Casual Driver,user_type_Commuter,user_type_Long-Distance Traveler,start_hour,start_day,start_month,end_hour,end_day,end_month
0,1,108.463007,391,60.712346,0.591363,36.389181,13.087717,2,2,29.371576,...,0,0,1,0,5,8,4,6,8,4
1,2,100.000000,428,12.339275,3.133652,30.677735,21.128448,0,1,10.115778,...,1,1,0,0,8,8,4,14,8,4
2,3,75.000000,181,19.128876,2.452653,27.513593,35.667270,0,4,6.854604,...,1,0,1,0,11,8,4,18,8,4
3,4,50.000000,327,79.457824,1.266431,32.882870,13.036239,2,6,83.120003,...,0,0,0,1,14,8,4,23,8,4
4,5,50.000000,108,19.629104,2.019765,10.215712,10.161471,0,6,54.258950,...,0,0,0,1,16,8,4,20,8,4

### 3.3.6 Scaling the numeric type data

In [84]:
scaler = StandardScaler()
numerical_features = ['battery_capacity_(kwh)','energy_consumed_(kwh)','charging_duration_(hours)','charging_rate_(kw)','charging_cost_(usd)',
                      'state_of_charge_(start_%)', 'state_of_charge_(end_%)','distance_driven_(since_last_charge)_(km)','temperature_(°c)',
                      'vehicle_age_(years)']

df3[numerical_features] = scaler.fit_transform(df3[numerical_features])

In [85]:
df3.head()

,user_id,battery_capacity_(kwh),charging_station_id,energy_consumed_(kwh),charging_duration_(hours),charging_rate_(kw),charging_cost_(usd),time_of_day,day_of_week,state_of_charge_(start_%),...,charging_station_location_San Francisco,user_type_Casual Driver,user_type_Commuter,user_type_Long-Distance Traveler,start_hour,start_day,start_month,end_hour,end_day,end_month
0,1,1.645480,391,0.827415,-1.582085,0.765064,-0.880549,2,2,-0.821044,...,0,0,1,0,5,8,4,6,8,4
1,2,1.235035,428,-1.387924,0.814865,0.346684,-0.132395,0,1,-1.621201,...,1,1,0,0,8,8,4,14,8,4
2,3,0.022567,181,-1.076981,0.172798,0.114901,1.220378,0,4,-1.756717,...,1,0,1,0,11,8,4,18,8,4
3,4,-1.189901,327,1.685900,-0.945610,0.508216,-0.885339,2,6,1.412424,...,0,0,0,1,14,8,4,23,8,4
4,5,-1.189901,108,-1.054072,-0.235342,-1.152220,-1.152824,0,6,0.213128,...,0,0,0,1,16,8,4,20,8,4

In [86]:
df3.isnull().sum().sum()

np.int64(0)

### 3.4 Saving the Processed Datasets

In [87]:
df1.to_csv("../data/processed/EV_specs.csv", index=False)

In [88]:
df2.to_csv("../data/processed/EV_spatial.csv", index=False)

In [89]:
import os
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\ASUS\Desktop\intelligent_ev\Intelligent-EV-Adoption-Charging-Intelligence-System\notebook

In [90]:
df3.to_csv("../data/processed/cleaned_charging_patterns.csv", index=False)